.gradiantBorder {
  width: 13%;
  height: 7px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0091ff, #9cfeff);
}

.headingText {
  font-size: 58px;
  font-weight: bold;
}

.sectionParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0;
}
